@charset "UTF-8";
<style type="text/css">
	
		label {
			font-size: 15px;
		    font-weight: 600;
		    line-height: 22px;
		    letter-spacing: -.8px;
		    vertical-align: middle;
		}
		p {
			font-size: 13px;
		    line-height: 18px;
		    letter-spacing: -.43px;
		}
		div>span {
			font-size: 13px;
		    line-height: 18px;
		    letter-spacing: -.43px;
		}
		div::-webkit-scrollbar {
    		width: 8px; 				 /* 스크롤바의 너비 */
		}

		div::-webkit-scrollbar-thumb {
		    height: 30px; 				/* 스크롤바의 길이 */
		    background: #8990a0; 		/* 스크롤바의 색상 */
		    border-radius: 10px;
		}
		.inner {
			 width: 500px;
			 margin: 0px auto;
		}
		.header img {
			 width: 20%;
			 height: 20%;
		}
		.termBox {
			width: 400px;
			height: 70px;
			padding: 15px;
			margin: 9px 0 0 32px;
			overflow: scroll;
			overflow-x: hidden;
			padding: 15px;
			border-radius: 6px;
			border: 1px solid #d6d6d6;
		}
		.langSelect {
			float: right;
		}
		.langSelect select {
			margin-right: 32px;
			border: none;
		}
		.checkboxDiv {
			margin-top: 30px;
		}
		
 		.checkListDiv {
 			margin-bottom: 180px;
 		}
		
		.required {
			color: #09AA5C;
		}
		
		.optional {
			color: #929294;
		}
		
		.arrow {
			width: 12px;
			height: 16px;
		}
		#buttonDiv {
			clear: right;
			width: 500px;
	        margin: 0px auto;
	        background-color: #fff;
			position: fixed;
	        left: 0;
	        right: 0;
	        bottom: 0;
		}
		#checkAllText {
			font-size: 17px;
		}
		#nextButton {
			margin: 20px 20px 20px 5px;
			width: 460px;
			height: 50px;
			background-color: #8990A0;
			color: white;
			border: none;
			border-radius: 6px;
		}
				
		
	</style>